<%- include('../partials/header') %> 
<h1>CHOOSE YOUR WEAPON:</h1>
<section>
    <% allDogs.forEach(item => { %>
        <a href="/dogs/<%= item.id %>">
            <div class="tile">
                <figure><div></div></figure>
                <div class="window">
                    <img src="<%= item.img %>">
                </div>
                <figcaption>
                    <h2> <%= item.name %> </h2>
                </figcaption>
            </div>
        </a>
        <% }) %>
</section>


<%- include('../partials/footer') %> 
