<%- include('../partials/header') %> 
<div class="flash-container">
    <%- include('../partials/flash') %> 
</div>
<main>
<section>
    <div id="hero">
        <figure><div class="big"></div></figure>
        <div id="feature">
            <div>
                <div class="bigwindow">
                    <img src="<%= dog.img %>">
                </div>
                <figcaption>
                    <h2> <%= dog.name %> </h2>
                </figcaption>
            </div>
            <article>
                <p>Sex: <%= dog.sex %></p>
                <p>Breed: <%= dog.breed %></p>
                <p>Birthday: <%= dog.birthDate.toISOString().replace('T', ' ').substr(0, 11); %></p>
                <% let year = 1 / (365.25 * 24 * 60 * 60 * 1000); %>
                <% let dogBirth = Date.parse(dog.birthDate); %>
                <% let current = Date.parse(new Date()); %>
                <% let time = (current - dogBirth) * year; %>
                <p>Age: <%= Math.floor(time); %></p>
            </article>
        </div>
    </div>
</section>
<% let days = helpers.adjust(); %>
<% if(currentUser) { %>
    <div id="calendar-group">

    
<div id="week">
    <div class="guide">TIME:</div>
    <% days.forEach(item => { %>
        <div class="guide"><%= item %></div>
    <% }) %>
</div>
<div id="calendar">
    <div class="guide">9AM</div>
    <div class="guide">10AM</div>
    <div class="guide">11AM</div>
    <div class="guide">12PM</div>
    <div class="guide">1PM</div>
    <div class="guide">2PM</div>
    <div class="guide">3PM</div>
    <div class="guide">4PM</div>

    <% dog.schedule.forEach((item, index) => { %>
        <% if (item) { %>
            <div class="booked" id="spot<%= index %>">
                <figure><div class="small"></div></figure>
                <div>BOOKED</div>
            </div>
        <% } else { %>
            <form action="/dogs/<%= dog._id %>/<%= index %>?_method=PUT" method="post">
                <button type="submit" class="open">
                    <figure><div class="small"></div></figure>
                    <div>OPEN</div>
                </button>
            </form>
        <% } %>
   <% }) %>
</div>
</div>
<% } %>

</main>
<%- include('../partials/footer') %> 
