<%- include('../partials/header') %> 

<img src="<%= dog.img %>">
<h1><%= dog.name %></h1>
<p><%= dog.sex %> <%= dog.breed %></p>
<p>Birthday: <%= dog.birthDate.toISOString().replace('T', ' ').substr(0, 11); %></p>

<% let year = 1 / (365.25 * 24 * 60 * 60 * 1000); %>
<% let dogBirth = Date.parse(dog.birthDate); %>
<% let current = Date.parse(new Date()); %>
<% let time = (current - dogBirth) * year; %>
<p>Age: <%= Math.floor(time); %></p>






<%- include('../partials/footer') %> 
