<%- include('../partials/header') %> 

<section>
            <div id="hero">
                <figure><div></div></figure>
                <div id="feature">

                    <div>
                        <div class="bigwindow">
                            <img src="<%= dog.img %>">
                        </div>
                        <figcaption>
                            <h2> <%= dog.name %> </h2>
                        </figcaption>
                    </div>

                    <article>
                        <p>Sex: <%= dog.sex %></p>
                        <p>Breed: <%= dog.breed %></p>
                        <p>Birthday: <%= dog.birthDate.toISOString().replace('T', ' ').substr(0, 11); %></p>

                        <% let year = 1 / (365.25 * 24 * 60 * 60 * 1000); %>
                        <% let dogBirth = Date.parse(dog.birthDate); %>
                        <% let current = Date.parse(new Date()); %>
                        <% let time = (current - dogBirth) * year; %>
                        <p>Age: <%= Math.floor(time); %></p>

                        <form action="/dogs/<%= dog.id %>" method="post">
                            <button>BOOK THIS DOG!</button>
                        </form>
                    </article>

                </div>
            </div>
</section>
<div id="week">
    <div class="booked"></div>
    <div class="booked">Monday</div>
    <div class="booked">Tuesday</div>
    <div class="booked">Wednesday</div>
    <div class="booked">Thursday</div>
    <div class="booked">Friday</div>
    <div class="booked">Saturday</div>
    <div class="booked">Sunday</div>
</div>
<div id="calendar">
    <div class="booked">9AM</div>
    <div class="booked">10AM</div>
    <div class="booked">11AM</div>
    <div class="booked">12PM</div>
    <div class="booked">1PM</div>
    <div class="booked">2PM</div>
    <div class="booked">3PM</div>
    <div class="booked">4PM</div>

    <% dog.schedule.forEach((item, index) => { %>
        <% if (item) { %>
            <div class="booked" id="spot<%= index %>">
                Booked <%= index + 1 %>
            </div>
        <% } else { %>
            <form action="/dogs/<%= dog._id %>/<%= index %>?_method=PUT" method="post">
                <button type="submit" class="open">
                    Available <%= index + 1 %>
                </button>
            </form>
        <% } %>
   <% }) %>
</div>




<%- include('../partials/footer') %> 
