<%- include('../partials/header') %> 
<!-- <%- include('../../models/helpers.js') %> -->
<div class="flash-container">
    <%- include('../partials/flash') %> 
    </div>
<main>
<section>
    <div id="hero">
        <figure><div class="big"></div></figure>
        <div>
            <h1>Hello <%= user.fullName %>!</h1>
        </div>
        <div id="instructions">
            <div>
                <% if(!dogs.every(item => null)) { %>
                    <h2>Here are your upcoming appointments</h2>
                <% } else { %>
                    <h2>View your upcoming appointments here</h2>
                <% } %>
            </div>
            <div id="lorem">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="tiles">
        <% let fullSched = [] %>
        <% dogs.forEach(dog => { %>
            <% dog.sched = dog.schedule.map((item, index) => [item,Math.floor(index / 8), index % 8, dog.img, dog.name, dog.id]).filter(item => !!item[0]); %>
        <% }); %>
        <% dogs.forEach(dog => fullSched.push(dog.sched)); %>
        <% let sorted = fullSched.flat(1).sort((x, y) => x[1] - y[1] || x[2] - y[2]); %>
        <% sorted.forEach(meeting => { %>
            <a href="/dogs/<%= meeting[5] %>">
            <div class="tile">
                <figure><div class="medium"></div></figure>
                <div class="smallwindow">
                    <img src="<%= meeting[3] %>">
                </div>
                <figcaption>
                    <p>You're walking <%= meeting[4] %></p>
                    <% helpers.format(meeting) %>
                    <p><%= meeting[1] %> at <%= meeting[2] %></p>
                </figcaption>
            </div>
            </a>
        <% }) %>
    </div>
</section>
</main>
<%- include('../partials/footer') %> 


                
