<%- include('../partials/header') %> 

<h1>Edit Your Info</h1>
<form action="/users/<%= user._id %>?_method=PUT" method="post">
    <!-- USERNAME -->
    <div>
        <label for="username">
            Username: <input type="text" name="username" value="<%= user.username %>">
        </label>
    </div>
     <!-- PASSWORD -->
    <div>
        <label for="password" >
            Password: <input type="password" name="password" value="<%= user.password %>">
        </label>
    </div>
    <!-- FULL NAME -->
    <div>
        <label for="fullName" >
            Full Name: <input type="text" name="fullName" value="<%= user.fullName %>">
        </label>
    </div>
    <!-- GENDER-->
    <div>
        <label for="gender" >
            Gender: <input type="text" name="gender" value="<%= user.gender %>">
        </label>
    </div>
    <!-- BIRTHDATE -->
    <div>
        <label for="birthday" >
            Birthday: <input type="date" name="birthday" value="<%= user.birthday %>">
        </label>
    </div>
    <div>
        <label for="email" >
            Email: <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
        </label>
    </div>
    <input type="submit" value="Submit Edits">
</form>
<h1>Delete Your Account</h1>
<form action="/users/<%= user._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete Account">
</form>


<%- include('../partials/footer') %> 
