<%- include('../partials/header') %> 
<div class="user-container">
    <%- include('../partials/flash') %> 

<h2 class="featured-walker-top">Featured Volunteer</h2>
<section class="hero-walker">
    <% const rand = Math.floor(Math.random() * allUsers.length) %>
        <div class="profile-card">
            <a href="./users/<%= allUsers[rand].id %>">
            <img onError="this.onerror=null;this.src='/images/default-user.png';" class="profile-pic-index" src="<%= allUsers[rand].userImg %>" alt="Profile Pic">
            <p><%= allUsers[rand].fullName %></p>   
        </a>
        </div>
        <div class="featured-side">
            <div class="userh2">
                <h2><%= allUsers[rand].fullName %></h2>
            </div>
            <div>
                <p>Member Since:<%= allUsers[rand].createdAt.toISOString().replace('T', ' ').substr(0, 11); %></p>
                <p>Favorite Dog:<%= allUsers[rand].favDog %></p>
                <% let year = 1 / (365.25 * 24 * 60 * 60 * 1000); %>
                <% let birthYear = Date.parse(allUsers[rand].birthday); %>
                <% let current = Date.parse(new Date()); %>
                <% let time = (current - birthYear) * year; %>
                <p>Age: <%= Math.floor(time); %></p>
            </div>

        </div>

</section>
<h3 class="all-walkers">All Volunteers</h3>
    <section class="profile-grid">
    <% allUsers.forEach(item => { %>
        
            <div class="profile-card">
                <a href="./users/<%= item.id %>">
                <img onError="this.onerror=null;this.src='/images/default-user.png';" class="profile-pic-index" src="<%= item.userImg %>" alt="Profile Pic">
                <p><%= item.fullName %></p>   
            </a>
                
            </div>
    
        <% }) %>
        </section>


    </div>
<%- include('../partials/footer') %> 
