<%- include('../partials/header') %> 
<h2 class="featured-walker-top">Featured Walker</h2>
<section class="hero-walker">
    <% const rand = Math.floor(Math.random() * allUsers.length) %>
        <div class="profile-card">
            <a href="./users/<%= allUsers[rand].id %>">
            <img class="profile-pic-index" src="/images/default-user.png" alt="Profile Pic">
            <p><%= allUsers[rand].fullName %></p>   
        </a>
        </div>
        <div class="featured-side">
            <div>
                <h2><%= allUsers[rand].fullName %></h2>
            </div>
            <div>
                <p>Member Since:</p>
                <p>Dogs walked: 0</p>
                <p>Favorite Dog: </p>
            </div>

        </div>

</section>
<h3 class="all-walkers">All Dog Walkers</h3>
    <section class="profile-grid">
    <% allUsers.forEach(item => { %>
        
            <div class="profile-card">
                <a href="./users/<%= item.id %>">
                <img class="profile-pic-index" src="/images/default-user.png" alt="Profile Pic">
                <p><%= item.fullName %></p>   
            </a>
                
            </div>
    
        <% }) %>
        </section>



<%- include('../partials/footer') %> 
