<%- include('../partials/header') %> 

<h1>THIS IS YOUR USER PROFILE</h1>
<ul>
    <li>Name: <%= user.fullName %></li>
    <li>Gender: <%= user.gender %></li>
    <li>Birthday: <%= user.birthday.toISOString().replace('T', ' ').substr(0, 11); %></li>
    <li>Member Since: <%= user.createdAt.toISOString().replace('T', ' ').substr(0, 11); %></li>
</ul>

<a href="/users/<%= user._id %>/edit"><button>Delete/Edit Account</button></a>

<%- include('../partials/footer') %> 
