<%- include('../partials/header') %> 
<div class="flash-container">
    <%- include('../partials/flash') %> 
    </div>
<div class="user-container">
<h2 class="featured-walker-top">Your Profile</h2>
<section class="hero-walker">
        <div class="profile-card">
            <img onError="this.onerror=null;this.src='/images/default-user.png';" class="profile-pic-index" src="<%= user.userImg %>" alt="Profile Pic">
            <% if(user._id.equals(currentUser._id)) {  %>
            <a href="/users/<%= user._id %>/edit"><button class="delete-edit-btn">Delete/Edit Account</button></a>   
                <% } %>
        </div>
        <div class="featured-side">
            <div class="userh2">
                <h2><%= user.fullName %></h2>
            </div>
            <div>
                <p>Member Since:<%= user.createdAt.toISOString().replace('T', ' ').substr(0, 11); %></p>
                <p>Gender: <%= user.gender %></p>  
                <% let year = 1 / (365.25 * 24 * 60 * 60 * 1000); %>
                <% let birthYear = Date.parse(user.birthday); %>
                <% let current = Date.parse(new Date()); %>
                <% let time = (current - birthYear) * year; %>
                <p>Age: <%= Math.floor(time); %></p>
                <p>Favorite Dog: <%= user.favDog %></p>
            </div>

        </div>

</section>
    </div>

<%- include('../partials/footer') %> 
